@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

body {
	background: #161925;
}

.App, .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	margin-top: 5%;
}

h1 {
	color: #ee5622;
	font-size: 50pt;
	font-family: 'Squada One', cursive;
}

.container {
	background: #23395b;
	padding: 1% 5%;
	margin-top: 5%;
	color: #eca72c;
	border-radius: 10px;
	font-size: 25pt;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
}

label {
	margin: 20px;
}

p {
	color: #aaa;
	font-size: 12pt;
	margin-top: 20px;
}

input {
	border-radius: 15px;
	box-shadow: 5px 5px 10px black ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
